<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.online_ems.dao.LoginDao">

    <select id="findid" parameterType="String" resultType="String">
        select id
        from online_ems.userinfomation
        where id=#{id}
    </select>


    <insert id="newuser" parameterType="com.example.online_ems.entity.NewUser">
        insert ignore into online_ems.userinfomation (type,name,sex,id,password,college,phone) values (#{type},#{name},#{sex},#{id},#{password},#{college},#{phone})
     </insert>


    <resultMap id="userinfomap" type="com.example.online_ems.entity.UserInfo">
        <result column="name" property="name"/>
        <result column="sex" property="sex" />
        <result column="phone" property="phone"/>
        <result column="college" property="college"/>
        <result column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="password" property="password"/>
        <collection property="courses" resultMap="courselistmap"/>
    </resultMap>
    
    <resultMap id="courselistmap" type="com.example.online_ems.entity.Course">
        <result column="courseid"   property="courseid"/>
        <result column="coursename" property="coursename"/>
    </resultMap>

    <select id="findall"  parameterType="User" resultMap="userinfomap">
        select S1.name,S1.sex,S1.phone,S1.college,S1.password,S1.id,S1.type,S2.courseid,S3.coursename
        from (online_ems.userinfomation S1 left join online_ems.usercourse S2 on s1.id = S2.id)
        left join online_ems.courses S3 on S2.courseid=S3.courseid
        where S1.id=#{id} and S1.password=#{password} and S1.type=#{type}
     </select>


</mapper>
